#sample-app {
    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
    #header {
        background: #fff;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 3;
        transition: all 0.5s ease;
        padding: 20px 0;
      }
      
      #header #logo {
        padding: 0 0 0 0;
      }
      #header #logo #logoImg {
        width: 80px;
        transition: all 0.5s ease;
        margin: 0 15px;
      }
      #header #logo h1 {
        color: #505050;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 0;
      }
      
      #header #logo h1 a {
        color: #555;
        line-height: 1;
        display: inline-block;
        text-decoration: none;
      }
      
      #header #logo h1 a span {
        color: #f4d270;
      }
      
      #header #logo img {
        padding: 0;
        margin: 0;
      }
      
      #header.header-scrolled {
        background: #fff;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
      }
      #header.header-scrolled #logo #logoImg {
        width: 50px;
        transition: all 0.5s ease;
      }
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 0;
          text-decoration: none;
        }
        
      
        li.active {
          background-color: #04AA6D;
        }
      
      /*--------------------------------------------------------------
      # Navigation Menu
      --------------------------------------------------------------*/
      /* Nav Menu Essentials */
      .nav-menu, .nav-menu * {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      .nav-menu ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 99;
      }
      
      .nav-menu li {
        position: relative;
        white-space: nowrap;
      }
      
      .nav-menu > li {
        float: left;
      }
      
      .nav-menu li:hover > ul,
      .nav-menu li.sfHover > ul {
        display: block;
      }
      
      .nav-menu ul ul {
        top: 0;
        left: 100%;
      }
      
      .nav-menu ul li {
        min-width: 180px;
      }
      
      
      /* Nav Meu Styling */
      .nav-menu {
        a {
            padding: 0 8px;
            text-decoration: none;
            display: inline-block;
            color: #fff;
            font-weight: 400;
            font-size: 14px;
            outline: none;
            letter-spacing: 0;
            transition: 0.3s;
        }

        li:hover > a, .menu-active > a {
            color: #efb610;
        }
          
        ul {
            margin: 0;
            padding: 10px;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
            background: #fff;

            li {
                transition: 0.3s;

                a {
                    padding: 5px 10px;
                    color: #333;
                    transition: 0.3s;
                    display: block;
                    font-size: 14px;
                    text-transform: none;
                }
            }
            li:hover > a {
                color: #f4d270;
            }
        }
      }
      
      .nav-menu > li {
        margin-left: 10px;
      }
      
      .nav-menu ul ul {
        margin: 0;
      }
      
      /* Mobile Nav Toggle */
      #mobile-nav-toggle {
        position: fixed;
        right: 0;
        top: 0;
        z-index: 999;
        margin: 25px 25px 0 0;
        border: 0;
        background: none;
        font-size: 24px;
        display: none;
        transition: all 0.4s;
        outline: none;
        cursor: pointer;
      }
      .header-scrolled #mobile-nav-toggle {
        margin: 16px 16px 0 0;
        transition: all 0.5s ease;
      }
      
      #mobile-nav-toggle i {
        color: #555;
        font-size: 24px;
      }
      
      @media screen and (max-width: 1024px) {
        #mobile-nav-toggle {
          display: inline;
        }
      }
      
      /* Mobile Nav Styling */
      #mobile-nav {
        position: fixed;
        top: 0;
        padding-top: 18px;
        bottom: 0;
        z-index: 998;
        background: rgba(52, 59, 64, 0.9);
        left: -260px;
        width: 260px;
        overflow-y: auto;
        transition: 0.4s;
      }
      
      #mobile-nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      
      #mobile-nav ul li {
        position: relative;
      }
      
      #mobile-nav ul li a {
        color: #fff;
        font-size: 14px;
        overflow: hidden;
        padding: 6px 22px 6px 15px;
        position: relative;
        text-decoration: none;
        width: 100%;
        display: block;
        outline: none;
        letter-spacing: 0;
      }
      
      #mobile-nav ul li a:hover {
        color: #fff;
      }
      
      #mobile-nav ul li li {
        padding-left: 30px;
      }
      
      #mobile-nav ul .menu-has-children i {
        position: absolute;
        right: 0;
        z-index: 99;
        padding: 15px;
        cursor: pointer;
        color: #fff;
      }
      
      #mobile-nav ul .menu-has-children i.fa-chevron-up {
        color: #f4d270;
      }
      
      #mobile-nav ul .menu-active a {
        color: #f4d270;
      }
      
      #mobile-body-overly {
        width: 100%;
        height: 100%;
        z-index: 997;
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(52, 59, 64, 0.9);
        display: none;
      }
      
      /* Mobile Nav body classes */
      body.mobile-nav-active {
        overflow: hidden;
      }
      
      body.mobile-nav-active #mobile-nav {
        left: 0;
      }
      
      body.mobile-nav-active #mobile-nav-toggle i {
        color: #fff;
      }
      
      /*--------------------------------------------------------------
      # Mobile Navigation Menu
      --------------------------------------------------------------*/
      
      .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #333;
        color: #FFF;
        height: 50px;
        padding: 1em;
      }
      
      .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .menu > li {
        margin: 0 1rem;
      }
      
      .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #menu-toggle {
        display: none;
      }
      
      .menu-button,
      .menu-button::before,
      .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }
      
      .menu-button::before {
        content: '';
        margin-top: -8px;
      }
      
      .menu-button::after {
        content: '';
        margin-top: 8px;
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
      
      @media screen and (max-width: 700px) {
        .menu-button-container {
          display: flex;
        }
        .menu {
          position: absolute;
          top: 0;
          margin-top: 70px;
          left: 0;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        }
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .menu li {
          border: 1px solid #333;
          height: 3.5em;
          padding: 0.5em;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        .menu > li {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0.5em 0;
          width: 100%;
          color: white;
          background-color: #222;
        }
        .menu > li:not(:last-child) {
          border-bottom: 1px solid #444;
        }
      }

}
