$title-color: #252025;
$submit-button: #057b90;
$cancel-button: #6a7171;
$cancel-button-hover: #353553;
$label-color: #6a7070;
$label-dark: #252525;
$input-border: #949494;
$skip-btn-border: #979797;
$modal-text: #252525;
$error-color: #d0021b;
$input-color: #252525;

$heading-border: #057b90;
$heading-background: #949494;
